<section class="cart-section-container">
  <div class="container cart">
    <a href="./cart-page.html" class="header-link-basket">
      <span class="header-link-basket-svg icon-styles">
        <svg width="18" height="18">
          <use href="./img/sprite.svg#icon-basket"></use>
        </svg>
      </span>
    </a>
    <h2 class="products-quantity-title cart-title"></h2>
    <button class="del-all-btn" type="button">Delete all</button>
  </div>

  <ul class="cart-container container"></ul>

  <div class="container">
    <h2 class="cart-title">Your order</h2>
    <h2 class="products-total">
      Total <span>Sum:</span> <span class="products-total-price"></span>
    </h2>
  </div>
</section>
<script type="module" src="./js/cart.js"></script>
