<section class="cart-section-container">
   <div class="container cart-body">
      <div class="cart">
         <a href="./cart-page.html" class="header-link-basket">
            <span class="header-link-basket-svg icon-styles">
               <svg width="18" height="18">
                  <use href="./img/sprite.svg#icon-basket"></use>
               </svg>
            </span>
         </a>
         <h2 class="products-quantity-title cart-title"></h2>
      </div>

      <div class="cart-empty">
         <img src="./img/basket-s-popap/basket-x1.png" alt="Empty basket" srcset="./img/basket-s-popap/basket-x2.png 2x" />
         <h3 class="products-titel">Your basket is <span>empty...</span></h3>
         <p>
            Go to the main page to select your favorite products and add them to the
            cart.
         </p>
      </div>

      <div class="cart-desktop-wrapper">
         <div class="del-all-wrapper">
            <button class="del-all-btn" type="button">Delete all</button>
            <svg width="16" height="16">
               <use href="./img/sprite.svg#icon-closed"></use>
            </svg>
         </div>
         <ul class="cart-container"></ul>

         <div class="cart-checkout-container">
            <h2 class="cart-title">Your order</h2>
            <div class="cart-total-container">
               <h2 class="products-total">Total</h2>
               <p>Sum: <span class="products-total-price cart-title"></span></p>
            </div>

            <form class="form-checkout" id="formCheckoutEmail">
               <input class="inputEmail" type="email" placeholder="Enter your email" autofocus name="user-email-subscribe" id="formCheckoutInput" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" title="Please enter a valid email address" required />

               <button class="btnCheckout" type="submit">Checkout</button>
            </form>
         </div>
      </div>
   </div>
</section>
<div id="myModal" class="modal">
   <div class="modal-content">
      <span class="close">
         <svg width="16" height="16">
            <use href="./img/sprite.svg#icon-closed"></use>
         </svg>
      </span>

      <div>
         <img class="imgModal" width="140" src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e3663.png" />
         <h2 class="modalH">Order success</h2>
         <p class="modalMessage">
            Thank you for shopping at Food Boutique. Your order has been received
            and is now being freshly prepared just for you! Get ready to indulge in
            nourishing goodness, delivered right to your doorstep. We're thrilled to
            be part of your journey to better health and happiness.
         </p>
      </div>
   </div>
</div>
<script type="module" src="./js/cart.js"></script>
<script type="module" src="./js/footer.js"></script>