<section class="cart-section-container">
  <div class="container cart-body">
    <div class="cart">
      <a href="./cart-page.html" class="header-link-basket">
        <span class="header-link-basket-svg icon-styles">
          <svg width="18" height="18">
            <use href="./img/sprite.svg#icon-basket"></use>
          </svg>
        </span>
      </a>
      <h2 class="products-quantity-title cart-title"></h2>
      <button class="del-all-btn" type="button">Delete all</button>
    </div>
    <ul class="cart-container"></ul>
    <div class="cart-checkout-container">
      <h2 class="cart-title">Your order</h2>
      <div class="cart-total-container">
        <h2 class="products-total">Total</h2>
        <p>Sum: <span class="products-total-price cart-title"></span></p>
      </div>
    </div>
  </div>
</section>
<script type="module" src="./js/cart.js"></script>
