<section class="filters-section-container">
   <div class="filters-container container">
      <h2 class="filters-titel">Filters:</h2>
      <div class="search-select">
         <form class="search-form">
            <div class="search-section">
               <!--  <label for="search-box" class="visually-hidden">Search for anything:</label>-->
               <input type="text" id="search-box" name="search-box" placeholder="Search for anything">
               <button type="submit" class="search-button">
                  <svg class="search-icon" width="14.58" height="14.58">
                     <use href="./img/sprite.svg#icon-search"></use>
                  </svg>
               </button>
            </div>
         </form>

         <div class="filter-section">
            <!-- <label for="categories" class="visually-hidden">Categories:</label> -->
            <select id="categories" name="categories"></select>
            <!-- 
          -->
         </div>

         <div class="sort-section">
            <select id="sort-options" name="sort-options"></select>
         </div>
         
        </div>
    </div>

</section>


<script type="module" src="./js/filters.js"></script>