<footer class="footer-section">
   <div class="footer-container container">
      <div class="footer-wrapper">
         <a href="./index.html" class="footer-logo">
            <span class="footer-logo-svg-span">
               <svg width="16" height="16">
                  <use href="./img/sprite.svg#icon-logo"></use>
               </svg>
            </span>
            <svg class="footer-logo-svg-text" width="118" height="20">
               <use href="./img/sprite.svg#icon-food-boutique"></use>
            </svg>
         </a>
         <ul class="footer-social-list">
            <li class="footer-social-item">
               <a href="https://www.facebook.com/" class="footer-social-link" target="_blank" rel="noopener noreferrer" aria-label="Facebook icon">
                  <svg width="24" height="24">
                     <use href="./img/sprite.svg#icon-facebook"></use>
                  </svg>
               </a>
            </li>
            <li class="footer-social-item">
               <a href="https://www.instagram.com/" class="footer-social-link" target="_blank" rel="noopener noreferrer" aria-label="Instagram icon">
                  <svg width="24" height="24">
                     <use href="./img/sprite.svg#icon-instagram"></use>
                  </svg>
               </a>
            </li>
            <li class="footer-social-item">
               <a href="https://www.youtube.com/" class="footer-social-link" target="_blank" rel="noopener noreferrer" aria-label="Youtube icon">
                  <svg width="24" height="24">
                     <use href="./img/sprite.svg#icon-youtube"></use>
                  </svg>
               </a>
            </li>
         </ul>
      </div>
      <div class="footer-wrapper-info">
         <div class="footer-opis">
            <h2 class="footer-opis-titel">
               Discover the Variety of Flavors and Quality
            </h2>
            <div class="footer-opis-text">
               <p>
                  An online store where you will find fresh, natural and delicious
                  products for a healthy life and unforgettable gastronomic
                  adventures.
               </p>
            </div>
         </div>
         <div class="footer-form">
            <form class="footer-contact-form" autocomplete="off" name="contact_form" id="formEmail">
               <p class="footer-form-text">
                  Subscribe and learn about new products!
               </p>
               <label for="formInput" class="footer-contact-label">
                  <input class="footer-contact-input" type="email" name="contact-info" placeholder="Email" id="formInput" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" />
               </label>
               <button class="footer-contact-btn" type="submit">Send</button>
            </form>
         </div>
      </div>
      <div class="footer-servise">
         <p class="footer-servise-text">Food Boutique. All rights reserved.</p>
         <div class="footer-servise-orivacy">
            <span class="footer-servise-span">Privacy Policy</span>
            &#47;
            <a href="#" class="footer-servise-link">Terms of Service</a>
         </div>
      </div>
   </div>
</footer>
<script type="module" src="./js/footer.js"></script>