<header class="header">
   <div class='header-section'>
      <div class="header-body container">
         <a href="./index.html" class="header-logo">
            <span class="header-logo-svg-span icon-styles">
               <svg width="16" height="16">
                  <use href="./img/sprite.svg#icon-logo"></use>
               </svg>
            </span>
            <svg class="header-logo-svg-text" width="118" height="20">
               <use href="./img/sprite.svg#icon-food-boutique"></use>
            </svg>
         </a>
         <nav class="header-menu">
            <ul class="header-list">
               <li>
                  <a href="./index.html" class="header-link btn-styles">Home</a>
               </li>
               <li>
                  <a href="./cart-page.html" class="header-link-basket">
                     <span class="header-link-basket-svg icon-styles">
                        <svg width="14" height="14">
                           <use href="./img/sprite.svg#icon-basket"></use>
                        </svg>
                     </span>
                     <span class="header-basket-card">Cart &lpar;<span class="header-basket-counter">0</span>&rpar;</span>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</header>