<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
</html>
<div id="popup" class="popup">
  <div class="popup-body">
    <div class="popup-content">
      <a href="#header" class="popup-close close-popup">X</a>
      <div class="popup-title">Это модальное окно №2</div>
      <div class="popup-text">
        ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero
        veritatis velit assumenda soluta sed ad, omnis alias placeat debitis
        voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem! Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero
        veritatis velit assumenda soluta sed ad, omnis alias placeat debitis
        voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem! Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero
        veritatis velit assumenda soluta sed ad, omnis alias placeat debitis
        voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
      </div>
    </div>
  </div>
</div>
