<!-- popap-card-info -->

<div id="popup" class="popup" >
   <div class="popup-body">
      <div class="popup-content">
         <!-- <a href="#header" class="popup-close close-popup" ></a> -->
         <!-- <div class="popup-title">Это модальное окно №2</div>
         <div class="popup-text">
            ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
         </div> -->
         <button type="button" class="popup-close close-popup btn-close-modal">
            <svg class="modal-btn" width="8" heigth="8">
               <use href="../img/sprite.svg#icon-closed"></use>
            </svg>
         </button>
         <div class="block"></div>
         <div class="info">
            <h3 class="info-title">Pumpkin</h3>
            <div class="info-block">
               <div class="info-block-div_first">
                  <h5 class="info-block-div-h5">Category<span class="info-block-div-span">Fresh Produce</span></h5>
                  <h5 class="info-block-div-h5">Size<span class="info-block-div-span">1 medium-sized</span></h5>
               </div>
               <div class="info-block-div_sec">
                  <h5 class="info-block-div-h5">Popular<span class="info-block-div-span">0</span></h5>
               </div>
               <p class="inf0-block-p">A round, orange vegetable with a thick shell and seeds inside. It is often used in cooking and baking for its sweet and earthy flavor.</p>
               <div class="info-block-div_price">
                  <h5 class="info-block-price">$2.55</h5>
                  <button type="button " class="btn-styles btn_add">Add to
                     <svg width="14" height="14" > 
                        <use href="./img/sprite.svg#icon-basket" > </use > 
                        </svg >
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>