.discount-section {
  border-radius: 15px;
  max-width: 375px;
  height: auto;
  margin-bottom: 80px;
}

.discount-title {
  display: block;
  text-align: justify;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17px;
  margin-bottom: 20px;
  padding: 16px;
}

.discount-container {
  display: block;

  padding-bottom: 80px;
  justify-content: center;
  border-radius: 15px;
  background-color: #fafafa;
  margin: 20px;
  max-width: 336px;
}
.discount-card {
  position: relative;
  background-color: var(--fon-grey);
  background-size: cover;
  background-position: center;
}

.discount-icon {
  position: absolute;
  top: -15px;
  right: -15px;
}

.discount-list-item {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.discount-img {
  display: block;
  border-radius: 10px;
  max-width: 114px;
  height: 114px;
  padding-top: 16px;
  margin: 0 auto;
}

.discount-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 23px 0;
}
