.discount-section:not(:last-child) {
   margin-bottom: 80px;
}

@media only screen and (max-width: 350px) {
   .discount-container {
      width: 300px;
   }
   .discount-list-item.discount-list-item {
      min-width: 300px;
   }
   }

@media only screen and (min-width: 768px) {
   .discount-section:not(:last-child) {
      margin-bottom: 100px;
   }
}

.discount-title {
   font-size: 24px;
   font-weight: 500;
   line-height: 1.16;
   margin-bottom: 20px;
}

.discount-container {
   display: flex;
   row-gap: 20px;
   justify-content: center;
   flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
   .discount-title {
      font-size: 28px;
      line-height: 1.14;
   }

   .discount-container {
      column-gap: 32px;
      justify-content: center;
   }
}

@media only screen and (min-width: 1050px) {
   .discount-container {
      justify-content: flex-start;
   }

}

@media only screen and (min-width: 1440px) {
   .discount-container {
      flex-direction: column;
   }
}

.discount-list-item {
   position: relative;
   max-width: 335px;
   padding: 15px 16px;
   border-radius: 15px;
   background: var(--color-white-grey);
   cursor: pointer;
}

.discount-list-item {
   min-width: 335px;
}

@media only screen and (min-width: 1440px) {
   .discount-list-item {
      min-width: 275px;
   }
}

.discount-card {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   background: #e8e8e2;
   min-height: 150px;
}

.discount-card:not(:last-child) {
   margin-bottom: 23px;
}

@media only screen and (min-width: 768px) {
   .discount-card:not(:last-child) {
      margin-bottom: 21px;
   }
}

.discount-icon {
   position: absolute;
   top: 3px;
   right: 10px;
   width: 60px;
   height: 60px;
}

.discount-img {
   max-width: 114px;
}

.discount-basket-icon {}

.discount-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 18px;
   font-weight: 500;
   line-height: 1.11;
}

@media only screen and (min-width: 768px) {
   .discount-info {
      font-size: 20px;
      line-height: 1.2;
   }
}

.discount-link-basket {
   font-size: inherit;
   font-weight: 500;
   padding: 0;
}

.discount-prise:not(:last-child) {
   margin-right: 8px;
}

/*=============== 
.not-more-btn {
   disable: true;
}*/