.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   transition: transform 0.3s ease;
   background-color: transparent;
   transition: all 0.3s ease;
}

/* анінімація схову і появи шапки сайту */
.header.hide {
   transition: transform 0.3s ease;
   transform: translateY(-150%);
}



/* ===================================== */
.header-section {
   padding-top: 18px;
   padding-bottom: 10px;

}

@media only screen and (min-width: 768px) {
   .header-section {
      padding-top: 24px;
   }
}

/* Стили для изменения отступов при прокрутке */
.header-section.scrolled {
   background-color: rgba(232, 232, 226, 0.699);
   padding-top: 10px;
   padding-bottom: 10px;
}

.header-body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 5px;
}

.header-logo {
   display: flex;
   align-items: center;
   gap: 8px;
}


.header-logo-svg-span {
   width: 28px;
   height: 28px;
   fill: var(--fon-grey);
}

@media only screen and (min-width: 768px) {
   .header-logo-svg-span {
      width: 32px;
      height: 32px;
   }

   .header-logo-svg-text {
      width: 157px;
      height: 24px;
   }
}

@media only screen and (min-width: 1440px) {
   .header-logo-svg-text {
      width: 155px;
      height: 21px;
   }
}

.header-list {
   display: flex;
   align-items: center;
   gap: 6px;
}

@media only screen and (min-width: 768px) {
   .header-list {
      gap: 16px;
   }
}

@media only screen and (min-width: 1440px) {
   .header-list {
      gap: 24px;
   }
}

.header-link {
   padding: 10px 20px;
   color: #E8E8E2;
   font-size: 14px;
   font-weight: 500;
   line-height: 1.28;

}

@media only screen and (min-width: 768px) {
   .header-link {
      padding: 12px 28px;
      font-size: 18px;
      line-height: 1.33;
   }
}

.header-link-basket-svg {
   width: 38px;
   height: 38px;
}

.header-basket-card {
   display: none;
}

@media only screen and (min-width: 768px) {
   .header-basket-card {
      display: inline-block;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      text-transform: uppercase;
   }

   .header-link-basket {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 14px;
   }

   .header-link-basket-svg svg {
      width: 18px;
      height: 18px;
   }
}