.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   transition: transform 0.3s ease;
   background-color: transparent;
}

/* анінімація схову і появи шапки сайту */
.header.hide {
   transition: transform 0.3s ease;
   transform: translateY(-150%);
}

/* ===================================== */
.header-section {
   padding-top: 18px;
   padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
   .header-section {
      padding-top: 24px;
   }
}

.header-body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 5px;
}

.header-logo {
   display: flex;
   align-items: center;
   gap: 4px;
}

@media only screen and (min-width: 768px) {
   .header-logo {
      gap: 8px;
   }
}

.header-logo-svg-span {
   width: 28px;
   height: 28px;

}

.header-logo-svg {
   fill: currentColor;
   color: var(--fon-grey);
}

@media only screen and (min-width: 768px) {
   .header-logo-svg-span {
      width: 32px;
      height: 32px;
   }

   .header-logo-svg-text {
      width: 157px;
      height: 24px;
   }

   .header-logo:focus .header-logo-svg,
   .header-logo:hover .header-logo-svg {
      color: var(--color-green);
   }

}

.header-logo:active {
   background-color: var(--color-green);
}

@media only screen and (min-width: 1440px) {
   .header-logo-svg-text {
      width: 155px;
      height: 21px;
   }
}

.header-list {
   display: flex;
   align-items: center;
   gap: 6px;
}

@media only screen and (min-width: 768px) {
   .header-list {
      gap: 14px;
   }

   .header-list li:last-child {
      margin-left: 2px;
   }
}

@media only screen and (min-width: 1440px) {
   .header-list {
      gap: 14px;
   }

   .header-list li:first-child {
      margin-right: 10px;
   }

   .header-list li:last-child {
      margin-left: 0px;
   }
}

.header-link {
   padding: 10px 20px;
}

@media only screen and (min-width: 768px) {
   .header-link {
      padding: 12px 28px;
   }
}

.header-link-basket {
   width: 38px;
   height: 38px;
}

.header-basket-card {
   display: none;
}

@media only screen and (min-width: 768px) {
   .header-basket-card {
      display: inline-block;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      text-transform: uppercase;
   }
}