.hero-section {}

.hero-container {
   padding-bottom: 74px;
}

.hero-titel {
   color: #010101;
   text-align: center;
   font-size: 44px;
   font-weight: 500;
   line-height: 1.09;
   letter-spacing: -0.88px;
   max-width: 658px;
   margin: 0 auto;
}

.hero-titel span {
   color: var(--color-green);
}

.hero-titel:not(:last-child) {
   margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
   .hero-titel {
      font-size: 80px;
      line-height: 1;
      letter-spacing: -1.6px;
   }

   .hero-titel:not(:last-child) {
      margin-bottom: 20px;
   }
}

@media only screen and (min-width: 1440px) {
   .hero-titel {
      max-width: 1042px;
   }
}

.hero-text {
   color: rgba(1, 1, 1, 0.80);
   max-width: 292px;
   text-align: center;
   margin: 0 auto;
}

.hero-text:not(:last-child) {
   margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
   .hero-text {
      max-width: 492px;
   }

   .hero-text:not(:last-child) {
      margin-bottom: 40px;
   }
}

.hero-body-img {
   position: relative;
}

.hero-img {
   max-width: 335px;
   border-radius: 30px;
   overflow: hidden;
}

@media only screen and (min-width: 768px) {
   .hero-img {
      max-width: 704px;
      border-radius: 60px;
   }
}

@media only screen and (min-width: 1140px) {
   .hero-img {
      max-width: 1240px;
      border-radius: 60px;
   }
}

.hero-image {
   width: 100%;
   height: auto;
}

.hero-icon {
   position: absolute;
   top: -7px;
   right: 8px;
   width: 100px;
   height: 100px;
}

@media only screen and (min-width: 768px) {
   .hero-icon {
      top: -30px;
      right: 10px;
   }
}

@media only screen and (min-width: 1140px) {
   .hero-icon {
      top: -50px;
      right: 20px;
   }
}