/* .popup {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   top: 0;
   left: 0;
   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.8s ease 0s;
   display: none;
}

.popup.open {
   opacity: 1;
   visibility: visible;
}

.popup.open .popup-content {
   transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
   opacity: 1;
}


.popup-body {
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.8s ease 0s;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.popup-content {
   color: #000;
   max-width: 800px;
   padding: 30px;
   position: relative;
   transition: all 0.8s ease 0s;
   border-radius: 20px;
   background: #FAFAFA;
 }

 .popap-card{
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: fit-content;
   list-style-type: none;
 } */

/* PRODUCT POPUP */
.popup-list-item {
  position: relative;
  max-width: 335px;
  border-radius: 20px;
  background-color: var(--color-white-grey);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 40px 20px;
}

.popup-list-item .list-item-info {
  gap: 6px;
}

.popup-list-item .remove-btn {
  top: 14px;
  right: 8px;
}

.popup-list-item .remove-btn-img {
  width: 14px;
  height: 14px;
}

.popup-list-item .products-titel {
  width: 100%;
  margin-bottom: 0;
  color: var(--color-text-dark);
}

.popup-list-item .modal-desc {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.28;
  color: var(--color-text-dark);
  overflow: scroll;
  max-height: 100px;
}

.popup-list-item .modal-desc::-webkit-scrollbar {
  display: block;
  /* overflow: auto; */
  height: 0;
  width: 5px;
  padding: 0;
  margin: 0;
}

.popup-list-item .modal-desc::-webkit-scrollbar-thumb {
  background-color: rgba(1, 1, 1, 0.08);
  border-radius: 20px;
}

.popup-list-item .modal-desc::-webkit-scrollbar-corner {
  display: none;
}

/* modal button and icon */
.popup-list-item .icon-styles {
  font-size: 14px;
  color: var(--fon-grey);
  width: fit-content;
  height: fit-content;
  padding: 12px 24px;
  border-radius: 30px;
  gap: 10px;
}
.popup-list-item .icon-styles img {
  flex-shrink: 0;
  max-width: 18px;
}

/* modal img and background */
.popup-list-item .list-item-img img {
  width: 160px;
}
.popup-list-item .list-item-img {
  padding: 26px;
}

@media only screen and (min-width: 768px) {
  .popup-list-item {
    max-width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .popup-list-item .remove-btn {
    top: 24px;
    right: 18px;
  }

  .popup-list-item .remove-btn-img {
    width: 16px;
    height: 16px;
  }

  .popup-list-item .list-item-img {
    max-width: 240px;
    padding: 26px 40px;
    margin-bottom: 0;
  }

  .popup-list-item .list-item-info {
    flex-shrink: 1;
    align-content: flex-start;
    max-width: 256px;
    margin-bottom: 0;
  }
  .popup-list-item p:not(:first-child):not(:last-child) {
    font-size: 12px;
  }

  .popup-list-item .modal-desc {
    margin-top: 14px;
    font-size: 16px;
    line-height: 1.25;
    max-height: 120px;
  }

  .popup-list-item .icon-styles {
    font-size: 16px;
    line-height: 1.25;
    padding: 10px 28px;
  }
}

@media only screen and (min-width: 1440px) {
}

.sub-modal {
  position: relative;
  max-width: 335px;
  border-radius: 20px;
  background-color: var(--fon-grey);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  gap: 10px;
}

.sub-modal p {
  color: var(--color-text-dark);
}

.sub-modal .remove-btn {
  top: 14px;
  right: 8px;
}

.sub-modal .remove-btn-img {
  width: 16px;
  height: 16px;
}

.sub-modal span {
  color: var(--color-green);
}

.sub-modal-content {
  padding: 100px 44.5px 120px;
}

.sub-modal-content .products-titel {
  margin-bottom: 14px;
}

.sub-modal-pic {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 335px;
  object-fit: contain;
}

@media only screen and (min-width: 768px) {
  .sub-modal {
    max-width: 490px;
  }

  .sub-modal-content {
    padding: 90px 81px 160px;
  }

  .sub-modal-pic {
    max-width: 100%;
  }

  .sub-modal .remove-btn {
    top: 24px;
    right: 18px;
  }

  .sub-modal-content .products-titel {
    margin-bottom: 20px;
  }

  .sub-modal p {
    font-size: 16px;
    line-height: 1.25;
  }
}
