.products-section:not(:last-child) {
   margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
   .products-section:not(:last-child) {
      margin-bottom: 100px;
   }
}

@media only screen and (min-width: 1440px) {
   .products-section {
      flex: 1 1 auto;
   }

   .products-section:not(:last-child) {
      margin-bottom: 0px;
   }
}

.products-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
   gap: 20px;
}

@media only screen and (min-width: 768px) {
   .products-container {
      gap: 32px;
   }
}

@media only screen and (min-width: 1050px) {
   .products-container {
      gap: 20px;
   }
}

@media only screen and (min-width: 1440px) {
   .products-container {
      row-gap: 35px;
      column-gap: 20px;
   }
}

.list-item {
   position: relative;
   max-width: 335px;
   border-radius: 20px;
   background-color: var(--color-white-grey);
   display: flex;
   flex-direction: column;
   overflow: hidden;
   padding: 20px;
   cursor: pointer;
}

.products-discount-icon {
   position: absolute;
   top: 3px;
   right: 10px;
   width: 60px;
   height: 60px;
}

.discount-icon {
   position: absolute;
   top: 3px;
   right: 10px;
   width: 60px;
   height: 60px;
}

@media only screen and (min-width: 1440px) {
   .list-item {
      max-width: 295px;
   }
}

.list-item-img {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 19px;
   border-radius: 10px;
   background: var(--fon-grey);
}

.list-item-img .product-img {
   width: 140px;
}

.list-item-img:not(:last-child) {
   margin-bottom: 20px;
}

.products-titel {
   font-size: 18px;
   font-weight: 500;
   line-height: 1.11;
}

@media only screen and (min-width: 768px) {
   .products-titel {
      font-size: 20px;
      line-height: 1.2;
   }
}

.products-titel:not(:last-child) {
   margin-bottom: 10px;
}

.list-item-info {
   display: flex;
   flex-wrap: wrap;
   font-size: 12px;
   font-weight: 400;
   line-height: 1.16;
   gap: 8px;
}

.list-item-info p span {
   color: #010101;
}

.list-item-info p {
   color: rgba(1, 1, 1, 0.3);
}

.list-item-info:not(:last-child) {
   margin-bottom: 40px;
}

@media only screen and (min-width: 1440px) {
   .list-item-info:not(:last-child) {
      margin-bottom: 20px;
   }
}

.list-item-body-price {
   font-size: 18px;
   font-weight: 500;
   line-height: 1.11;
   display: flex;
   justify-content: space-between;
   align-items: end;
   flex: 1 1 auto;
}

@media only screen and (min-width: 768px) {
   .list-item-body-price {
      font-size: 20px;
      line-height: 1.2;
   }
}

.add-btn {}

/*
  |============================
  | pagination
  |============================
*/
.tui-page-btn.tui-is-disabled {
   pointer-events: none;
   cursor: not-allowed;
}

.tui-pagination {
   margin-top: 40px;
   line-height: 1.42;
   text-align: center;
   font-size: 14px;
}

@media only screen and (max-width: 375px) {
   .tui-pagination {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
   }

   .tui-page-btn {
      width: 28px !important;
      height: 28px !important;
      padding: 4px 0px !important;
   }
}

@media only screen and (min-width: 768px) {
   .tui-pagination {
      margin-top: 50px;
   }
}

@media only screen and (min-width: 1440px) {
   .tui-pagination .tui-prev {
      margin-top: 40px;
   }
}

.tui-pagination .tui-page-btn {
   display: inline-block;
   position: relative;
   width: 40px;
   height: 40px;
   padding: 10px 0px;
   color: #a3a3a3;
   border-radius: 4px;
   vertical-align: middle;
   margin: 0 2px;
}

@media only screen and (min-width: 768px) {
   .tui-pagination .tui-page-btn {
      margin: 0 4px;
   }
}

.tui-pagination .tui-page-btn:hover {
   background-color: #6d8434;
   border-radius: 60px;
   color: #e8e8e2;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
   color: #e8e8e2;
   background-color: #6d8434;
   border-radius: 60px;
   font-weight: normal;
   cursor: default;
}

.tui-pagination .tui-is-selected:hover {
   background-color: #6d8434;
}

.tui-pagination .tui-prev {
   margin-left: 2px;
   margin-right: 8px;

   background-color: #fafafa;
   border-radius: 60px;
}

@media only screen and (min-width: 768px) {
   .tui-pagination .tui-prev {
      margin-left: 4px;
      margin-right: 32px;
   }
}

.tui-pagination .tui-next {
   margin-right: 2px;
   margin-left: 8px;

   background-color: #fafafa;
   border-radius: 60px;
}

@media only screen and (min-width: 768px) {
   .tui-pagination .tui-next {
      margin-left: 32px;
      margin-right: 4px;
   }
}

.tui-pagination .tui-first,
.tui-pagination .tui-last {
   background-color: #fafafa;
   border-radius: 60px;
}

.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAiCAYAAAA+stv/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0YwN0I4MUNDNjk0MTFFNjgzNjg5NTM0OEZDQ0YxNTUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0YwN0I4MURDNjk0MTFFNjgzNjg5NTM0OEZDQ0YxNTUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3RjA3QjgxQUM2OTQxMUU2ODM2ODk1MzQ4RkNDRjE1NSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3RjA3QjgxQkM2OTQxMUU2ODM2ODk1MzQ4RkNDRjE1NSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PlM+zvEAAAMuSURBVHjaxFdrS5RREH73Zako6kt92x8QRR+qXYjoQneTyKCoMAmKspLI6EMQFBjSxehCdLGixa5maHbZilIro9uH2C2IoF+w/6EstJnleXV2mvO+W6458CA+45mZc+aceV5jyWTSU7aEsJOwUXO5XK7A5fN5vWYFoZawXnOJRKLAufLEDbKTsCmC08nblN/izDy+Iu9h0TNwSw3OlbwLXIXBSSuK6avkNSp5h+JKSX4nInlRTC6g0kheGZG8ykheFZHcjClb0Gcs6nP08Ad+DkRwXlRMH9XUoLpl4C1OWhd22oZWuDhpZkxfOHlxuypCc+UooiimbMFz4Vwewukiqo0iqkOKKIrpO5x1EZy0biSsjeDMPDHvL8yYgCUbTUST971RtjjNaO7VDRxLYOcIHwm3Hes6sOaJ4C4ScoSWEk+voBV8AtdxYVYLJwc/Q9jmKOAy4RZhreDShCYIWZQFUzQdx61dB3HghPexkwr4xhAuqQAvCWsID/kUcaM/42l1Y815R/KicR2o4SuM0kdYfBcBWSN6CGMJZ1WgNzi1DNZwu74QFqNAXnMqLLmH6gN7S1iFvk4kXCV8FQEnERpVwPeElRgw7G8mfCMswqY4ToPQimtaK3xjTvcr7hcQZjz/vyuuX+iDUytkAXNQ2X7snm0q4TV21mgknofXs0/c/mlYw3fgWMToHixgPo6xHq+CbTqhF6/hhJF8AfpfJ57rDKw5TjhZin746DEH2oELwjYTgY6iAOvDIoNR2w5uFvreEPIC/tAKvoR7CFsQMLBdhEOiFdrYv1kNou2EA65B5NKP/6YFLl0YdS2IkRYEzyKmnknR7/Q/weBpQT9aVQu8TCYjtaIVk3JETqAFWrDB4W8WQydcDbPZrL4HUb97qVSqR4zhcYSb6k96MVXZPx5CNTS1BoZmUXwY7XuHt8yDaIIhWB+En4u8YJ7AMO9QFoLFb3sy4Yjyf8KceUGYQjg8El9EPw39KEUrylJAMDFPG7tnmw1/E1DWFrB4PSUcJFwx/HMJjzEd085X8I/JF+LjpR7PURt/Dzwg7Bb6UtYC9mL2dzr8nHiraxBJ+y3AAOpc//DIQNiHAAAAAElFTkSuQmCC) no-repeat 0 0;
   display: inline-block;
   vertical-align: middle;
   font-size: 0px;
}

/* ... */
.tui-pagination .tui-next-is-ellip {
   padding: 8px 15px;
}

.tui-pagination .tui-prev-is-ellip {
   display: none;
}

.tui-pagination .tui-ico-ellip {
   width: 10px;
   height: 2px;
   margin-top: 16px;
   vertical-align: top;
   background-position: 0px -24px;
}

.tui-pagination .tui-ico-first {
   width: 11px;
   height: 10px;
   background-position: 0px 0px;
}

.tui-pagination .tui-ico-prev {
   width: 6px;
   height: 10px;
   background-position: -26px 0px;
}

.tui-pagination .tui-ico-next {
   width: 6px;
   height: 10px;
   background-position: -13px -24px;
}

.tui-pagination .tui-ico-last {
   width: 11px;
   height: 10px;
   background-position: 0px -12px;
}

.tui-pagination .tui-is-disabled .tui-ico-prev {
   background-position: -26px -12px;
}

.tui-pagination .tui-is-disabled .tui-ico-first {
   background-position: -13px 0px;
}

.tui-pagination .tui-is-disabled .tui-ico-next {
   background-position: -21px -24px;
}

.tui-pagination .tui-is-disabled .tui-ico-last {
   background-position: -13px -12px;
}